/* default */
* {
    padding: 0px;
    margin: 0px;
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: content-box;
}
html {
    font-size: 20px;
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
}
html ::-webkit-scrollbar{
    width: .7rem;
}

html ::-webkit-scrollbar-track{
    background-color: transparent;
}

html ::-webkit-scrollbar-thumb{
    background-color: white;
    border-radius: 5rem;
}

:root {
    --black: #3B4754;
    --white: #EDF0F4;
    --gray: #798DA3;
}


@media only screen and (max-width: 700px) {
    html {
        font-size: 10px;
    }

    section {
        padding: 2vh 2vw !important;
    }

    .brand-icon {
        width: 80px !important;
    }
    
    #main1 main {
        flex-direction: column;
        align-items: center !important;
        gap: 3vh;
        margin-top: 0vh !important;
    }

    #main1 main > div{
        width: 80% !important;
    }

    #main1 main aside {
        width: 80% !important;
        border-radius: 10px;
    }

    #main2>div {
        flex-direction: column;
        gap: 5vh;
    }

    #main3 {
        padding: 2vh !important;
    }
    #main3 > p{
        width: 80% !important;
    }
}

@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* global */
a {
    text-decoration: none;
}

.icon {
    width: 25px;
    background-color: var(--white);
    padding: 10px;
    display: flex;
    border-radius: 100%;
}

.brand-icon {
    width: 200px;
}

section {
    padding: 3vh 5vw;
}

p {
    color: var(--gray);
    line-height: 1.5rem;
    letter-spacing: 0.1rem;
}

h1, h2, h3, h4, h5, h6 {
    color: var(--black);
}

h1 {
    font-size: 3rem;
}

h4 {
    font-size: 2rem;
}

.line {
    padding: 3px 10%;
    background-color: var(--white);
    border-radius: 100px;
    margin-block: 2vh;
    margin-inline: auto;
}

/* header */
#header {
    justify-content: space-between;
    display: flex;
}

.brand-icon{
    width: 10%;
}

nav {
    display: flex;
}

nav button {
    background-color: white;
    border: 0px;
    text-transform: uppercase;
    font-weight: 700;
}

nav a {
    padding-inline: 3vw;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
}

#b-home {
    border: 2px solid black;
    border-radius: 2px 0px 0px 2px;
}

#b-package {
    border-block: 2px solid black;
}

#b-call {
    border: 2px solid black;
    border-radius: 0px 2px 2px 0px;
}

/* bagian utama */
#main1 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#main1>h1 {
    margin-block: 5vh 8vh;
    text-align: center;
}

#main1>p {
    margin-bottom: 5vh;
    font-size: 1.5rem;
}

#main1 main {
    margin-top: 10vh;
    display: flex;
    align-items: start;
    justify-content: space-evenly;
    width: 100%;
}

#main1 main > div{
    width: 50%;
}

#main1 main .slide {
    display: none;
    flex-direction: column;
    animation: fadein 2s;
}

#main1 main .slide img {
    background-color: var(--white);
    aspect-ratio: 3/2;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    height: 100%;
}

#main1 main .slide .description {
    padding: 4vw;
}

#main1 main .slide .description>q {
    font-size: 1.2rem;
    color: var(--black);
}

#main1 main .slide .description>div {
    margin-top: 3vh;
    display: flex;
    align-items: start;
    gap: 1vw;
}

#main1 main #information{
    display: flex;
    flex-direction: column;
    gap: 2vh;
}

#main1 main #information > div{
    display: flex;
    gap: 1vw;
}

#main1 aside {
    width: 25%;
    background-color: var(--white);
    padding: 3vw 4vw;
    border-radius: 2px;
}

#main1 aside>p {
    margin-block: 3vh 8vh;
}

#main1 aside form {
    display: flex;
    flex-direction: column;
    gap: 4vh;
}

#main1 aside form>div {
    display: flex;
    flex-direction: column;
}

#main1 aside form>div label {
    font-weight: bold;
}

#main1 aside form>div .input {
    border: 0px solid var(--gray);
    padding: 2vh 1vw;
    border-radius: 2px;
    font-size: 1rem;
}

#main1 aside form>button {
    font-style: bold;
    background-color: var(--black);
    color: var(--white);
    padding-block: 3vh;
    text-align: center;
    border-radius: 2px;
    font-size: 1rem;
}

/* footer */
footer {
    padding-block: 8vh;
    border-top: 2px solid var(--white);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 1vh;
}

footer div {
    display: flex;
    gap: 1vw;
}